{%extends 'polls/detail.html'%}

{% block parameter_add %}
{% if form_id == 'parameter_form' %}
    <form   method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="Submit" name="Submit" value="Accept"> Save</button>
    </form>
    <form   method="POST">
        {% csrf_token %}
        <button type="Submit" name="Abort" value="Abort"> Cancel </button>
    </form>
{% endif %}
{% endblock %}

{% block note_add %}
{% if form_id == 'note_form' %}
    <form   method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="Submit" name="Submit" value="Accept"> Save</button>
    </form>
    <form   method="POST">
        {% csrf_token %}
        <button type="Submit" name="Abort" value="Abort"> Cancel </button>
    </form>
{% endif %}
{% endblock %}

{% block step_add %}
{% if form_id == 'step_form' %}
    <form   method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="Submit" name="Submit" value="Accept"> Save</button>
    </form>
    <form   method="POST">
        {% csrf_token %}
        <button type="Submit" name="Abort" value="Abort"> Cancel </button>
    </form>
{% endif %}
{% endblock %}


