<div>
    <form method="POST">
        {% csrf_token %}
        <div id="form_set">
            {{ formset.management_form }}
            {{ formset.non_form_errors }}
            {% if form_invalid %}
            <b> Invalid Input </b>
            {% endif %}
            {% for form in formset %}
            <div>
                {{ form.id }}
                {% for field in form.visible_fields %}
                {{ field.label_tag }}{{ field }}
                {% endfor %}
                {% if form.instance.id  is not None %}
                <input type="submit" class="button" value="Delete" name="'btn_delete-{{ form.instance.id }}'"/>
                {% endif %}
            </div>
            {% endfor %}

            <div id="empty_form" style="display:none">
                <li>{{ formset.empty_form }}</li>
            </div>

        </div>
        <input type="button" value="Add More" id="add_more">
        <div>

            <input type="submit" value="Save" class="submit"/>
            <input type="submit" value="Cancel" name="cancel"/>
        </div>
    </form>
</div>


<script>
    $('#add_more').click(function() {
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });
</script>


