<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Experiment Details</title>
</head>
<body>
<h1>{{ experiment.experiment_name }}</h1>
Experiment Parameters:
    <ul>
    {% for parameter in experiment.parameter_set.all %}
        <li> {{ parameter.parameter_name }}
            ( {{ parameter.parameter_value }} {{ parameter.parameter_unit }} )
            <button> Change Parameter </button>
            <button> Delete Parameter </button>
        </li>
    {% endfor %}
    </ul>
Experiment Observations/Comments:
    <ul>
    {% for observation in experiment.obeservation_set.all %}
        <li> {{ observation.observation_text }}
        </li>
    {% endfor %}
    </ul>

Experiment Notes:
    <ul>
    {% for note in experiment.note_set.all %}
        <li> {{ note.note_text }}
        </li>
    {% endfor %}
    </ul>



</body>
</html>
