{% extends 'polls/experiment-detail.html' %}

{%block file-viewer %}



        {% if pdf %}
            {% with pdf_path=file_url %}
            {% with pdf_name=file_name %}
                {% include 'polls/pdf-viewer.html' %}
            {% endwith %}
            {% endwith %}
        {%endif%}

        {% if plot %}
            {% with y_data=plot_data %}
                {% include 'polls/plot-viewer.html' %}
            {% endwith %}
        {%endif%}

        {% if img %}

        {%endif%}



{% endblock %}