<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index file</title>
</head>
<body>
<h1> Latest Experiments: </h1>
{% if experiment_list %}
    <ul>
        {% for experiment in experiment_list %}
            <li><a href="{%url 'polls:detail' experiment.id%}">{{ experiment.name }} ({{ experiment.date}}) </a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No experiments are available.</p>
{% endif %}

<form action="{% url 'polls:add_experiment' %}" >
    {% csrf_token %}
    <input type="submit" value="New Experiment">
</form>


</body>
</html>