<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index file</title>
</head>
<body>
{% load static %}
<script src="{% static 'jquery/jquery.js' %}"></script>

<h1> Latest Experiments: </h1>
{% if experiment_list %}
    <ul>
        {% for experiment in experiment_list %}
            <li><a
                href="{%url 'polls:experiment-detail' experiment.id%}">
                {{ experiment.name }}
                {% if not experiment.date is None %}
                    ({{ experiment.date}})
                {% endif %}
            </a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No experiments are available.</p>
{% endif %}

<form action="{% url 'polls:create-experiment' %}" method="get">
    <input type="submit" value="New Experiment">
</form>


<h1> Samples: </h1>
{% if sample_list %}
    <ul>
        {% for sample in sample_list %}
            <li><a href="{%url 'polls:sample-detail' sample.id%}">{{ sample.name }} </a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No experiments are available.</p>
{% endif %}





</body>
</html>