{%extends 'polls/base.html'%}

{% block content %}
<form action="{% url 'polls:index' %}" >
    {% csrf_token %}
    <input type="submit" value="Back to Overview">
</form>

<div>
    <form action="{% url 'polls:sample-update-parameter' parent_id %}">
        {% csrf_token %}
        <input type="submit" value="Update Experiment">
    </form>
</div>


<div>

    <h2> Experiment Parameters </h2>

    {% block sample-update-parameter %}
    {% for parameter in parent.sample_parameters.all %}
    <div class="inline">
        {{ parameter.name }} =
        {{ parameter.value }}
        {{ parameter.unit }}
    </div>
    {% endfor %}
    {% endblock %}

    <h2> Experiment Procedure </h2>
    <ol>
        {% for step in parent.sample_steps.all %}
        <div class="inline">
            <li>
                {{ step.text }} {% if step.note != '' %} ({{ step.note }}) {% endif %}
                {% for stepexperiment in step.stepexperiment_set.all %}
                {% for parameter in stepexperiment.stepparameter_set.all %}
                {{ stepexperiment.name }}(
                {{ parameter.name }} =
                {{ parameter.value }}
                {{ parameter.unit }} )
                {% endfor %}
                {% endfor %}
                {% endfor %}
            </li>
        </div>
    </ol>

    <h2> Experiment Notes </h2>
    {% for note in parent.sample_notes.all %}
    <div class="inline">
        {{ note.text }}
    </div>
    {% endfor %}

</div>

</body>
</html>
</ul>
{% endblock %}
