{% extends 'core/experiment-detail.html' %}

{%block file-viewer %}



        {% if pdf %}
            {% with pdf_path=file_url %}
            {% with pdf_name=file_name %}
                {% include 'core/pdf-viewer.html' %}
            {% endwith %}
            {% endwith %}
        {%endif%}

        {% if plot %}
            {% with y_data=plot_data %}
                {% include 'core/plot-viewer.html' %}
            {% endwith %}
        {%endif%}

        {% if img %}
            {% include 'core/image-viewer.html' %}
        {%endif%}



{% endblock %}