{% load custom_templates %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>

<div class="bg-dark py-1 px-1">
    <div class="bg-light py-2 px-2">
        <canvas id="plot" style="height: 550px;"></canvas>
    </div>
</div>
<form method="post">
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="col-2 align-self-end">
            <input class="btn btn-success" type="submit" name="save_plot" value="Set Standard">
        </div>
        <div class="col-6">
            <div class="row row-cols-2">
                <div class="col">
                    X-Data
                </div>
                <div class="col">
                    Y-Data
                </div>
                <div class="col">
                    <select class="form-control" name="x_select">
                        <option selected>{{x_label}}</option>
                        {% for item in header %}
                        {% if item != x_label %}
                        <option>{{ item }}</option>
                        {%endif%}
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <select class="form-control" name="y_select">
                        <option selected>{{y_label}}</option>
                        {% for item in header %}
                        {% if item != y_label %}
                        <option>{{ item }}</option>
                        {%endif%}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="col-2 align-self-end">
            <input class="btn btn-primary" type="submit" value="Plot">
        </div>
    </div>
</form>
<script>


var js_y_data = {{y_data|js}};
var js_ylabel={{y_label|js}};
var js_xlabel={{x_label|js}};

let ctx = document.getElementById("plot").getContext("2d");
ctx.height=500;

let chart = new Chart(ctx, {
  type: "scatter",
  data: {datasets: [{
                     borderColor: "#7cafe6",
                     data: js_y_data,
                     showLine: true,
                     fill: false,
                     pointBorderWidth: 1,
                     pointRadius:0.5
                     }]},
  options:
    {
      maintainAspectRatio: false,
      scales:
        {
        yAxes: [{
            gridLines: {
                    display: true,
                    drawBorder: true,
                },
            scaleLabel: {
                display: true,
                labelString: js_ylabel,
                fontSize: 18,
                fontColor: "#000000"
                }
            }],
        xAxes: [{
            gridLines: {
                    display: true
                },
            scaleLabel: {
                display: true,
                labelString: js_xlabel,
                fontSize: 18,
                fontColor: "#000000"
                }
            }],
        },
      legend: {
        display: false,
        position: 'top'
      }
  }

});










</script>