{%extends 'core/base.html'%}

{% block content %}


<h1>
    {{ parent.name }}
</h1>

<div class="row row-cols-1 row-cols-lg-2">
    <div class="col">
        <div class="py-3 px-3 mb-3 bg-light text-dark">
            <h2>
                <div class="row">
                    <div class="col">Sample Parameters</div>
                    <div class="col-2">
                        {% if update_name != 'parameter' %}
                        <form action="{% url 'core:sample-update-parameter' parent_id %}" method="get">
                            <input class="btn btn-primary" type="submit" value="Edit">
                        </form>
                        {% endif %}
                    </div>
                </div>
            </h2>
            {% if update_name == 'parameter' %}
            {% with col_count=4 %}
            {% include 'core/child-update-form.html' %}
            {% endwith %}
            {% else %}
            {% for parameter in parent.sample_parameters.all %}
            <p>
            <div class="row ">
                <div class="col-5"> {{ parameter.name }}</div>
                <div class="col-md-auto">{{ parameter.value }}</div>
                <div class="col-md-auto">{{ parameter.unit }}</div>
            </div>
            </p>
            {% endfor %}

            {% endif %}
        </div>
    </div>

    <div class="col">
        <div class=" py-3 px-3 mb-3 bg-light text-dark">
            <h2>
                <div class="row">
                    <div class="col">Sample Notes</div>
                    <div class="col-2">
                        {% if update_name != 'step' %}
                        <form action="{% url 'core:sample-update-note' parent_id %}" method="get">
                            <input class="btn btn-primary" type="submit" value="Edit">
                        </form>
                        {%endif%}
                    </div>
                </div>
            </h2>
            {% if update_name == "note" %}
            {% with col_count=1 %}
            {% include 'core/child-update-form.html' %}
            {% endwith %}

            {% else %}

            {% for note in parent.sample_notes.all %}
            <div class="row">
                <div class="col-md-auto">
                    <ul>
                        <li>
                            {{ note.text }}
                        </li>
                    </ul>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<div class="col">
    <div class=" py-3 px-3 mb-3 bg-light text-dark">
        <h2>
            Associated Experiments
        </h2>
        <div class="row">
            <div class="col-md-auto">
                <ul>
                    {% for experiment in parent.experiments.all %}
                    <li>

                        <a href="{%url 'core:experiment-detail' experiment.id%}">
                            {{ experiment.name }} ({{ experiment.date }})
                        </a>

                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
</div>


{% endblock %}






