{% extends 'core/experiment-detail.html' %}
{% load custom_templates %}
{% block experiment-update-step %}

<div>
    <form method="POST">
        {% csrf_token %}
        <div>

            {% if form_invalid %}
            <b> Invalid Input </b>
            {% endif %}

            {{ formset.management_form }}
            {{ formset.non_form_errors }}

            {% for form in formset %}

            {{ form.id }}
            <div class="row row-cols-2">
                <div class="col-10">
                    <div class="row row-cols-2">
                        {% for field in form.visible_fields %}
                        <div class="col-2 align-self-center">{{field.label_tag}}</div>
                        {%endfor%}

                        {% with child_formset=child_formset_list|return_item:forloop.counter0 %}
                        {{ child_formset.management_form }}
                        {% for child_form in child_formset %}
                        {{ child_form.id }}
                        <div class="row">
                                {% for field in child_form.visible_fields %}
                                <div class="col-4">{{field.label_tag}}</div>
                                {%endfor%}

                                {% for field in child_form.visible_fields %}
                                <div class="col-4">{{field|addclass:"form-control"}}</div>
                                {%endfor%}
                            </div>

                        {% for field in form.visible_fields %}
                        <div class="col-10">{{field|addclass:"form-control"}}</div>
                        {%endfor%}
                    </div>
                </div>
                <div class="col-2 align-self-end">
                    {% if form.instance.id is not None %}
                    <input type="submit" class="btn btn-danger" value="Delete"
                           name="'btn_delete-{{ form.instance.id }}'"/>
                    {% endif %}
                </div>



                <div class="col-10">
                    <div class="row row-col-2">
                        <div class="col-auto align-self-center">Parameter</div>
                        <div class="col">
                            <div class="row">
                                {% for field in child_form.visible_fields %}
                                <div class="col-4">{{field.label_tag}}</div>
                                {%endfor%}

                                {% for field in child_form.visible_fields %}
                                <div class="col-4">{{field|addclass:"form-control"}}</div>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2 align-self-end">
                    {% if child_form.instance.id is not None %}
                    <input type="submit" class="btn btn-danger" value="Delete"
                           name="'btn_delete-{{ form.instance.id }}'"/>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% endwith %}
            {% endfor %}
            <div class="row row-cols-2">
                <div class="col-10">
                    <div class="row row-cols-2" id="form_set">
                        <div id="empty_form" style="display:None">
                            {% for field in formset.empty_form.visible_fields %}
                            <div class="col-2 align-self-center">{{field.label_tag}}</div>
                            <div class="col-10">{{field|addclass:"form-control"}}</div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row row-cols-auto my-3 justify-content-md-center">
            <div class="col"><input type="submit" value="Save" class="btn btn-success"/></div>
            <div class="col"><a href="." class="btn btn-danger">Cancel</a></div>
            <div class="col"><input type="button" value="Add Row" id="add_more" class="btn btn-info"
                                    onclick="add_form('empty_form')"></div>
        </div>
    </form>
</div>


<script>
    $('#add_more').click(function() {
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });


</script>
<script>
    $('#add_more').click(function() {
        var form_idx = $('#id_child_form-TOTAL_FORMS').val();
        $('#child_form_set').append($('#empty_child_form').html().replace(/__prefix__/g, form_idx));
        $('#id_child_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });


</script>

{% endblock %}

